<%-include('links')%>
<div class="eng">
    <h1>
        Sorry, the English version is not yet available,
        project need in Qualified co-operatives for translation of articles
    </h1>

    <img src="/img/backArrow.png" class="back" alt="">

    <div class="form">
        <p>If you want to help translate articles, leave your contact information</p>
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
        <input type="email" placeholder="Email">
        <div class="btnSend">Send</div>
    </div>
</div>