<header>
    <div class="wrapper">

        <div class="menu">
            <a href="/"><div class="shadow" style="background-image:url('/img/dota2.jpg')"></div><div class="logo">NGP</div></a>
            <a href=""><div class="shadow" style="background-image:url('/img/dota2.jpg')"></div><div>Dota 2</div></a>
            <a href=""><div class="shadow" style="background-image:url('/img/csgo.jpg')"></div><div>CS:GO</div></a>
            <a href=""><div class="shadow" style="background-image:url('/img/fortnite.jpg')"></div><div>Fortnite</div></a>
            <a href=""><div class="shadow" style="background-image:url('/img/pubg.jpg')"></div><div>PUBG</div></a>
            <a href=""><div class="shadow" style="background-image:url('/img/overwatch.jpg')"></div><div>Overwatch</div></a>                
        </div>

    </div>
</header>

<div class="sign">
    <div class="btnsSign">
        <input type="text" placeholder="Login" id="signinLogin">
        <input type="password" placeholder="Password" id="signinPassword">
        <span class="btnsignin">Вход</span> <span class="btnsignup">Регистрация </span>
        <span class="cancel">X</span>
        <div class="language">
            Язык:<img class="select" src="/img/rus.png" alt=""><img class="droparrow" src="/img/arrowdown.png" alt="">
            <div class="wrapper">
                
                    <a href="/eng" id="lanEng"><img src="/img/eng.png" alt=""><p>English</p></a>
                <a id="lanRus"><img src="/img/rus.png" alt=""><p>Русский</p></a>
            </div>
        </div>
    </div>

    <div class="formSignup">
        <input type="Email" placeholder="Email" id="signupEmail">
        <input type="text" placeholder="Login" id="signupLogin">
        <input type="password" placeholder="Password" id="signupPassword">
        <input type="password" placeholder="Repeate password" id="signupRePassword">
        <div class="btns">
            <div class="sendSignup">Signup</div>
            <div class="cancelForm">Cancel</div>
        </div>
    </div>

</div>


<div class="cog"><img src="/img/cog.png" alt=""></div>