@charset "UTF-8";
/* line 4, ../sass/main.scss */
body {
  margin: 0px;
  padding: 0px;
  background: url("../img/bg.jpg") no-repeat;
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ ╨╕ Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-attachment: fixed;
  background-size: 100%;
  /* ╨б╨╛╨▓╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡ ╨▒╤А╨░╤Г╨╖╨╡╤А╤Л */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* line 20, ../sass/main.scss */
p {
  padding: 0px;
  margin: 0px;
}

/* line 25, ../sass/main.scss */
input, textarea {
  outline: none;
}

/* line 29, ../sass/main.scss */
.uparrow {
  position: fixed;
  left: 50px;
  bottom: 50px;
  border-radius: 100px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

/* line 40, ../sass/main.scss */
header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
/* line 44, ../sass/main.scss */
header .wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: center;
  margin: auto;
  color: white;
}
/* line 52, ../sass/main.scss */
header .wrapper .logo {
  letter-spacing: 2;
  color: gold;
  padding: 40px 60px;
  font-size: 25px;
}
/* line 59, ../sass/main.scss */
header .wrapper .menu {
  display: flex;
}
/* line 62, ../sass/main.scss */
header .wrapper .menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0px 10px 0px;
  color: white;
  font-size: 24px;
  transform: skew(-20deg);
  border-left: 1px solid gold;
  border-right: 1px solid gold;
  overflow: hidden;
  cursor: pointer;
}
/* line 80, ../sass/main.scss */
header .wrapper .menu a:hover .shadow {
  transform: skew(20deg) scale(1.3);
}
/* line 85, ../sass/main.scss */
header .wrapper .menu a .shadow {
  position: absolute;
  transform: skawe(20deg);
  width: 200%;
  height: 200%;
  background-position: center;
  transition: all .7s;
}
/* line 95, ../sass/main.scss */
header .wrapper .menu a .logo {
  color: gold;
  margin-left: 10px;
}
/* line 100, ../sass/main.scss */
header .wrapper .menu a div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: skew(20deg);
  letter-spacing: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 200%;
  height: 100%;
  transition: all .5s;
}
/* line 112, ../sass/main.scss */
header .wrapper .menu a div:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 121, ../sass/main.scss */
.sign {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 127, ../sass/main.scss */
.sign .btnsSign {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: auto;
  padding: 10px 40px;
  color: white;
}
/* line 137, ../sass/main.scss */
.sign .btnsSign input {
  margin-left: 10px;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 215, 0, 0.3);
}
/* line 144, ../sass/main.scss */
.sign .btnsSign .cancel {
  color: white;
  position: absolute;
  right: 65px;
  top: 10px;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 10px;
  background: tomato;
}
/* line 156, ../sass/main.scss */
.sign .btnsSign .btnsignin, .sign .btnsSign .btnsignup, .sign .btnsSign .btnSignOut, .sign .btnsSign .btnprofil {
  padding: 7px 20px;
  background-color: gold;
  text-decoration: none;
  cursor: pointer;
  color: black;
  margin-left: 10px;
  border-radius: 4px;
  transition: all 1s;
  border: 1px solid #e1ffe1;
}
/* line 168, ../sass/main.scss */
.sign .btnsSign .language {
  display: flex;
  align-items: center;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}
/* line 175, ../sass/main.scss */
.sign .btnsSign .language .select {
  width: 20px;
  margin-left: 10px;
}
/* line 180, ../sass/main.scss */
.sign .btnsSign .language .droparrow {
  width: 10px;
  margin-left: 5px;
}
/* line 185, ../sass/main.scss */
.sign .btnsSign .language .wrapper {
  z-index: 1;
  position: absolute;
  padding: 10px;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
/* line 193, ../sass/main.scss */
.sign .btnsSign .language .wrapper a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
/* line 199, ../sass/main.scss */
.sign .btnsSign .language .wrapper a p {
  margin-left: 5px;
}
/* line 203, ../sass/main.scss */
.sign .btnsSign .language .wrapper a img {
  width: 25px;
  display: inline;
}
/* line 208, ../sass/main.scss */
.sign .btnsSign .language .wrapper a:nth-child(even) {
  margin-top: 10px;
}
/* line 217, ../sass/main.scss */
.sign .formSignup {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
/* line 227, ../sass/main.scss */
.sign .formSignup input {
  width: 300px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 215, 0, 0.3);
  margin-top: 10px;
  box-sizing: border-box;
}
/* line 236, ../sass/main.scss */
.sign .formSignup .btns {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 300px;
}
/* line 242, ../sass/main.scss */
.sign .formSignup .btns .sendSignup, .sign .formSignup .btns .cancelForm {
  padding: 7px 8px;
  background-color: gold;
  cursor: pointer;
  color: black;
  margin-top: 10px;
  border-radius: 10px;
  transition: all 1s;
  border: 1px solid #e1ffe1;
  width: 125px;
  text-align: center;
}

/* line 258, ../sass/main.scss */
.cog {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

/* line 267, ../sass/main.scss */
.index {
  width: 1200px;
  margin: auto;
  padding: 10px;
  background: white;
  margin-top: 20px;
}
/* line 274, ../sass/main.scss */
.index .mainNews {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* line 282, ../sass/main.scss */
.index .mainNews .newsItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* line 288, ../sass/main.scss */
.index .mainNews .newsItem .content {
  position: absolute;
  bottom: -150%;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 15px;
  color: white;
  max-height: 100px;
  text-overflow: ellipsis;
  transition: all .5s;
  font-size: 20px;
}
/* line 302, ../sass/main.scss */
.index .mainNews .newsItem .title {
  position: absolute;
  width: 100%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: black;
}
/* line 316, ../sass/main.scss */
.index .mainNews .big {
  position: relative;
  max-width: 710px;
  width: 100%;
  height: 350px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  overflow: hidden;
}
/* line 326, ../sass/main.scss */
.index .mainNews .medium {
  position: relative;
  max-width: 470px;
  width: 100%;
  height: 350px;
  border: 1px 0px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  overflow: hidden;
}
/* line 337, ../sass/main.scss */
.index .mainNews .little {
  max-width: 280px;
  width: 100%;
  height: 175px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  cursor: pointer;
}
/* line 348, ../sass/main.scss */
.index .reclamWrapper {
  margin-top: 20px;
  padding: 40px 0px;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 360, ../sass/main.scss */
.index .allNewsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
/* line 365, ../sass/main.scss */
.index .allNewsWrapper .allNews {
  flex: 0 835px;
  max-width: 850px;
  width: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-right: 10px;
}
/* line 373, ../sass/main.scss */
.index .allNewsWrapper .allNews .item {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0px 5px 0px;
}
/* line 379, ../sass/main.scss */
.index .allNewsWrapper .allNews .item .image {
  width: 220px;
  flex: 0 220px;
  overflow: hidden;
}
/* line 384, ../sass/main.scss */
.index .allNewsWrapper .allNews .item .image img {
  width: 100%;
  transition: all .7s;
}
/* line 387, ../sass/main.scss */
.index .allNewsWrapper .allNews .item .image img:hover {
  transform: scale(1.3);
}
/* line 394, ../sass/main.scss */
.index .allNewsWrapper .allNews .item .wrapper {
  padding: 0px 10px;
  flex: 1;
}
/* line 398, ../sass/main.scss */
.index .allNewsWrapper .allNews .item .wrapper .title {
  font-weight: 700;
  text-decoration: none;
  color: black;
  transition: all .3s;
}
/* line 404, ../sass/main.scss */
.index .allNewsWrapper .allNews .item .wrapper .title:hover {
  color: #FF7700;
}
/* line 409, ../sass/main.scss */
.index .allNewsWrapper .allNews .item .wrapper .date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
/* line 417, ../sass/main.scss */
.index .allNewsWrapper .allNews .btnShowAll {
  padding: 10px 20px;
  background-color: gold;
  cursor: pointer;
  color: black;
  margin-left: 10px;
  border-radius: 10px;
  transition: all 1s;
  border: 1px solid #e1ffe1;
  width: 150px;
  text-align: center;
  margin-top: 10px;
}
/* line 432, ../sass/main.scss */
.index .allNewsWrapper .leftPanel {
  flex: 0 340px;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* line 440, ../sass/main.scss */
.news {
  width: 1200px;
  margin: auto;
  background: white;
  padding: 10px 15px;
  margin-top: 20px;
  min-height: 500px;
}
/* line 448, ../sass/main.scss */
.news .image {
  float: left;
}
/* line 449, ../sass/main.scss */
.news .image img {
  object-fit: cover;
  min-width: 450px;
  max-width: 500px;
  margin-right: 10px;
}
/* line 457, ../sass/main.scss */
.news .title {
  font-weight: 600;
  font-size: 22px;
}

/* line 469, ../sass/main.scss */
.showContent {
  bottom: 0px !important;
}

/* line 474, ../sass/main.scss */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #212121;
  margin-top: 20px;
  text-align: center;
  color: #737373;
}

/* line 486, ../sass/main.scss */
.eng {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
/* line 496, ../sass/main.scss */
.eng .back {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}
/* line 503, ../sass/main.scss */
.eng h1 {
  color: white;
}
/* line 507, ../sass/main.scss */
.eng .form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  width: 450px;
  margin: auto;
}
/* line 515, ../sass/main.scss */
.eng .form p {
  color: white;
}
/* line 519, ../sass/main.scss */
.eng .form input {
  margin-top: 10px;
  padding: 5px 15px;
}
/* line 524, ../sass/main.scss */
.eng .form .btnSend {
  background: gold;
  text-align: center;
  padding: 5px 10px;
  margin-top: 10px;
}

/* line 534, ../sass/main.scss */
.profil {
  display: flex;
  width: 1200px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 543, ../sass/main.scss */
.profil .info {
  display: flex;
  flex-direction: column;
}
/* line 546, ../sass/main.scss */
.profil .info .avatar {
  width: 200px;
  height: 250px;
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}
/* line 557, ../sass/main.scss */
.profil .info .date {
  margin-top: 10px;
  text-align: start;
  color: rgba(0, 0, 0, 0.4);
}
/* line 561, ../sass/main.scss */
.profil .info .date span {
  color: black;
}
/* line 567, ../sass/main.scss */
.profil .userInfo {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  margin-left: 20px;
  padding: 20px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.3);
  flex-direction: column;
  width: 100%;
}
/* line 578, ../sass/main.scss */
.profil .userInfo .item {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  position: relative;
}
/* line 585, ../sass/main.scss */
.profil .userInfo .item span {
  color: black;
}
/* line 589, ../sass/main.scss */
.profil .userInfo .item .edit {
  font-size: 20px;
  position: absolute;
  right: 20px;
  display: inline-flex;
  cursor: pointer;
}
/* line 595, ../sass/main.scss */
.profil .userInfo .item .edit img {
  margin-right: 5px;
}
